.ms_top_section {
    display: grid;
    grid-template-columns: 6fr 22fr 72fr;
    height: 12vh;
}

.ms_main_section {
    display: grid;
    height: 88vh;
    grid-template-columns: 6fr 22fr 48fr 24fr;
}

.ms_main_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b;
}

.ms_main_icon img {
    width: 30%;
}

.ms_find_user_input {
    width: 100%;
    outline: none;
    border: 0.1rem solid #838383;
    padding: 2rem;
    border-radius: 3rem;
    background-color: #242424;
    color: #eeeeee;
}

.ms_player {
    background-color: #323438;
    border-radius: 2rem;
    padding: 1.5rem 3rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}

.ms_player_cover {
    width: 5rem;
    height: 5rem;
    background-color: orange;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.ms_player_cover img {
    width: 100%;
}

.ms_progress_bar, .ms_volume_bar {
    width: 24rem;
    height: 0.4rem;
    background-color: rgb(145, 145, 145);
    border-radius: 2rem;
    overflow: hidden;
}

.ms_volume_bar {
    width: 8rem;
}

.ms_progress, .ms_volume {
    width: 25%;
    height: 100%;
    background-color: rgb(228, 228, 228);
}

.ms_link_box {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ms_link_box img {
    width: 30%;
}

.ms_message_field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 2rem 3rem;
    gap: 3rem;
    transition: background-color 0.3s;
}

.ms_message_field:hover {
    background-color: #414141;
}

.ms_message_avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ms_message_avatar img {
    width: 100%;
}

.ms_message_name {
    font-size: 1.6rem;
    font-weight: 500;
    color: #dedede;
}

.ms_message_text {
    font-size: 1.4rem;
    color: #aaaaaa;
}

.ms_messages_count_box {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: #7936ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ms_messages_amount {
    font-size: 1.4rem;
    color: white;
}

.ms_mediafiles_section {
    overflow: scroll;
    background-color: #1b1b1b;
}

.ms_mediafile {
    width: 100%;
    border: 0.1rem solid #333;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    background-color: #36373b;
    transition: background-color 0.3s;
}

.ms_mediafile:hover {
    background-color: #2b2c2e;
}

.ms_mediafiles_section {
    padding: 3rem;
}

.ms_mediafile_avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.ms_mediafile_avatar img {
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 0.7rem;
    height: 0;
    border: none;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: unset; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #c8c8c8; 
    border-radius: 1rem;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #919191; 
}

.income_box {
    display: flex;  
    justify-content: left;
}

.outcome_box {
    display: flex;
    justify-content: right;
}

.ms_message_box {
    border: 0.1rem solid #333;
    padding: 2rem;
    width: fit-content;
    border-radius: 1.4rem;
    margin: 1rem 0;
    background-color: #36373b;
    color: #eee;
}

.ms_messages_box {
    overflow: scroll;
    overflow: scroll;  /* NEW */
    min-width: 0;
    padding: 0 2rem;
    color: #323438;
    display: flex;
    flex-direction: column-reverse;
    background-color: #1b1b1b;
    /* justify-content: end; */
}

.outcome {
    background-color: #298d62;
}

.income_box, .outcome_box {
    display: flex;
    gap: 2rem;
}

.ms_message_content {
    font-size: 1.3rem;
}

.ms_message_input_box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    background-color: #1b1b1b;
}

.ms_message_input, #post_creation_input, #post_creation_header {
    padding: 2rem;
    border-radius: 3rem;
    outline: none;
    border: 0.1rem solid #333;
    width: 100%;
    background-color: #1b1b1b;
    color: #eeeeee;
    font-size: 1.4rem;
}

.send_message {
    padding: 2rem;
    border-radius: 3rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.ms_post {
    width: 50%;
    position: relative;
    overflow: visible;
}
.ms_post * {
    z-index: 5;
}

.ms_post_pic {
    width: 100%;
    height: 100%;
    max-height: 50rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.ms_post_pic img {
    width: 100%;
}

.reactions_box {
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.reaction {
    width: 10rem;
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #cdcc9b7a;
    border-radius: 4rem;
    justify-content: center;
}

.comment_btn {
    width: 100%;
    height: 4rem;
    background-color: #cdcc9b9f;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 1rem;
    font-size: 1.6rem;
    color: #1b1b1b;
    font-weight: 600;
    cursor: pointer;
    border-bottom-left-radius: 2rem;
}

.comment_section {
    width: 90%;
    height: 70rem;
    border: solid 0.2rem white;
    border-left: none;
    position: absolute;
    left: 100%;
    bottom: 0;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 1rem 2rem;
    overflow-y: scroll;
    opacity: 1;
    transition: opacity 0.3s, transform 0.5s;
    z-index: 2;
}

.comment_box {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.comment_place {
    background-color: #298d62;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    width: fit-content;
    border-radius: 1rem;
    border-top-left-radius: 0;
    margin-top: 0.6rem;
}

.comment_gone {
    opacity: 0;
    transform: translateY(50%) translateX(-100%) scale(0);
}

.create_post {
    width: 20rem;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    border: none;
    border-radius: 10rem;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 3rem;
    cursor: pointer;
}
