doctype html 
html
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/authors.css")
        link(rel="stylesheet" href="./style/messenger.css")
        link(rel="stylesheet" href="./style/main.css")
        link(rel="stylesheet" href="./style/overview.css")
        link(rel="stylesheet" href="./style/athor_stat.css")
        link(rel="stylesheet" href="./style/moderator.css")
        link(rel="stylesheet" href="./style/userPage.css")
        link(rel="stylesheet" href="./style/friends.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet")
        title Trekof
    body

        block content 
        
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
        script(src='/js/htmlBuilder.js')

        block scripts 