extends base 

block content 
    section.main_landing 
        section.left_section
            .top_section.top_left_section
                h1.company_name ZZZvuk

            .left_section_menus
                .audio_hosting_menu
                    .hosting_menu_item.hover_effect
                        .active_hosting_page
                        img.hosting_image(src="/data/icons/home.png", alt="")
                        p.hosting_menu_text Главная
                    .hosting_menu_item.hover_effect#profile
                        .active_hosting_page.hidden
                        img.hosting_image(src="/data/icons/user.png", alt="")
                        p.hosting_menu_text Профиль
                    .hosting_menu_item.hover_effect
                        .active_hosting_page.hidden
                        img.hosting_image(src="/data/icons/star.png", alt="")
                        p.hosting_menu_text Фавориты
                    .hosting_menu_item.hover_effect
                        .active_hosting_page.hidden
                        img.hosting_image(src="/data/icons/rock-guitar.png", alt="")
                        p.hosting_menu_text Жанры

                .messenger_menu
                    .hosting_menu_item(style="padding-top: 0;")
                        .active_hosting_page.hidden
                        img.messenger_image(src="/data/icons/message.png", alt="")
                        p.hosting_menu_text Мессенджер

                    .hosting_menu_item.message_box.hover_effect
                        .message_info
                            .active_hosting_page.hidden
                            .menu_profile_image_container
                                img.profile_image(src="/data/authors/2cd312b369f6377166237a03b7215b56.jpg", alt="")
                            p.hosting_menu_text Неадекват
                        .income_messages_circle
                            p.income_message_amount 2

                    .hosting_menu_item.message_box.hover_effect
                        .message_info
                            .active_hosting_page.hidden
                            .menu_profile_image_container
                                img.profile_image(src="/data/authors/6e268e284174e29e6daf7d516cf7b485.jpg", alt="")
                            p.hosting_menu_text Димас
                        .income_messages_circle
                            p.income_message_amount 4

                .management_menu
                    .management_title_box
                        .title_box
                            img(src="/data/icons/profile.png", alt="", style="width: 2.5rem;")
                            p.management_menu_title Управление
                        img.togo_management_icon(src="/data/icons/yellow_next.png", alt="")

                    .stats_container
                        .stats_holder
                            img(src="/data/icons/loading.png", alt="")
                            .stats_box
                                p.stat_title Статистика
                                p.stat_info Ваши треки и альбомы
                        .stats_holder
                            img(src="/data/icons/checkmark.png", alt="")
                            .stats_box
                                p.stat_title Релизы
                                p.stat_info Ваши треки и альбомы
        section.right_section 
            header.top_menu_bar
                .top_menu_item
                    p.top_menu_title Главная
                    .underline

                .top_menu_item
                    p.top_menu_title Друзья
                    .underline.dp_none
            section.main_section
                section.middle_part
                    .authors_box
                        .authors_link_box
                            p.authors_title.title_style Топ исполнители
                            img.authors_link(src="./data/icons/pink_next.png", alt="")
                        p.genres_title.subtitle_style Ислледуйте новые жанры

                        .authors_list_box
                            .author_holder
                                .author_image_holder
                                    img(src="./data/authors/79bc6917c56dbf8f278052913a5e32fa.jpg", alt="")

                    .widgets_box
                        p.widget_title.title_style Вам понравится
                        .widget_cards_box
                            .widget_card
                                .black_fade
                                    p.widget_card_name Недавние
                                    p.widget_card_info saybyetome!, aokigahara, nowayback, Nutakoe, auratoshi
                            .widget_card
                                .black_fade
                                    p.widget_card_name Недавние
                                    p.widget_card_info saybyetome!, aokigahara, nowayback, Nutakoe, auratoshi

                    .recommendations_box
                        p.recommendation_title.title_style Рекоммендации
                        p.recommendation_info.subtitle_style Добавляйте треки в свои фавориты
                        .recommend_audio_box
                            .music_box(data-index="1")
                                .music_box_inner
                                    .music_image_holder
                                        img(src="./data/CRAZY.jpg", alt="")
                                    .music_info
                                        p.music_name CRAZY
                                        p.music_author LE SSERAFIM
                                .music_box_inner
                                    p.music_duration 2:44
                                    img.add_music_icon(src="./data/icons/more.png", alt="")

                            .music_box(data-index="2")
                                .music_box_inner
                                    .music_image_holder
                                        img(src="./data/ЗАСТРЕЛИЛИ.jpg", alt="")
                                    .music_info
                                        p.music_name Застрелили!
                                        p.music_author h1deki
                                .music_box_inner
                                    p.music_duration 2:58
                                    img.add_music_icon(src="./data/icons/more.png", alt="")

                            .music_box(data-index="3")
                                .music_box_inner
                                    .music_image_holder
                                        img(src="./data/ОНИУБИЛИКЕННИ.jpg", alt="")
                                    .music_info
                                        p.music_name Они убили Кенни!
                                        p.music_author saybyetome!
                                .music_box_inner
                                    p.music_duration 1:34
                                    img.add_music_icon(src="./data/icons/more.png", alt="")

                            .music_box(data-index="4")
                                .music_box_inner
                                    .music_image_holder
                                        img(src="./data/ЗАЯ.jpg", alt="")
                                    .music_info
                                        p.music_name зая
                                        p.music_author вчера, Мерси
                                .music_box_inner
                                    p.music_duration 1:35
                                    img.add_music_icon(src="./data/icons/more.png", alt="")
                section.right_part
                    .search_box
                        p.search_title.title_style Поиск
                        p.search_info.subtitle_style Более 1000+ композиций
                        form.search_bar_holder(action="")
                            input.search_bar(type="text", placeholder="Любимые исполнители...")
                            button.search_button Найти

                    .messenger_box
                        p.messenger_box_title.title_style 4 000+ пользователей уже на платформе
                        .messenger_card
                            div
                                p.messenger_card_title Мессенджер
                                p.messenger_card_info Делитесь вашими эмоциями и треками с друзьями. Прослушайте рекоммендации ваших друзей и их любимые треки
                            div
                                button.messenger_button Начать общение

                    .music_player_box
                        .music_player_link
                            p.music_player_title.title_style Сейчас играет: Фавориты
                            img(src="./data/icons/pink_next.png", alt="")
                        p.music_player_type.subtitle_style Single
                        .music_player
                            .white_shine
                                .music_photo
                                    img.songImage(src="./data/798f95310210edaf016bd94126d2ec96.jpg", alt="")
                            .music_player_components_box
                                .music_player_title_box
                                    div
                                        p.music_player_name грааль
                                        p.music_player_author Psychosis
                                    div
                                        img.share_button(src="./data/icons/share.png", alt="")
                                        img(src="./data/icons/more.png", alt="")
                                .progress_bar
                                    .progress
                                .music_player_duration_box
                                    p.currentTime 0:44
                                    p.duration 2:17
                                .music_player_interact_box
                                    .music_player_control_buttons
                                        img.prevBtn(src="./data/icons/moveLeft.png", alt="")
                                        img.playBtn(src="./data/icons/right.png", alt="")
                                        img.nextBtn(src="./data/icons/moveRight.png", alt="")
                                    .music_player_sound_control
                                        img(src="./data/icons/volume.png", alt="", style="width: 2rem;")
                                        .music_player_sound_bar
                                            .music_player_volume
    .to_hide.dp_none#tologin
        .login_overlay.default
            .login_box.upload_box
                p Логин
                input(type="text" style="margin-bottom: 2rem;")
                p Пароль
                input(type="password" style="margin-bottom: 2rem;")
                .default(style="justify-content: space-between;")
                    button.link_button Отправить
                    button.link_button#createacc Создать аккаунт

    .to_hide.dp_none#toregister
        .login_overlay.default
            .login_box.upload_box
                .register_photo#regpicinput
                    img(src="./data/icons/cover_img.png" alt="" width="30%")
                .login_form
                    div
                        p Ник
                        input#regname(type="text" style="margin-bottom: 2rem;")
                    div
                        p Email
                        input#regemail(type="text" style="margin-bottom: 2rem;")
                    div
                        p Пароль
                        input#regpassword(type="password" style="margin-bottom: 2rem;")
                    div
                        p Подтвердите пароль
                        input#regpasswordconfirm(type="password" style="margin-bottom: 2rem;")
                .default(style="justify-content: end;")
                    button.link_button#signup Отправить
    input#regpic(type="file" style="display: none;")